@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}
.profilecard{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    width: 100%;
    background-color: #fff;
    border-radius: 24px;
    padding: 25px;
    box-shadow: 0 5px 10px #002;
    position: relative;
    
}
.profilecard::before{
    content: '';
    background-color: #4070f4;
    position: absolute;
    top: 0;
     border-radius: 20px;
    height: 150px;
    width: 100%;
}
.img{
    position: relative;
    height: 150px;
    width: 150px;
    background-color:rgb(0, 106, 255);
    border-radius: 50%;
    padding: 3px;
    margin: 10px;
}
.img .profile_img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid rgb(250, 250, 250);


}
.profilecard .textdata {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.textdata .name{
    font-size: 22px ;
    font-weight: 500 ;
}
.textdata .job{
    font-size:15px ;
    font-weight:400 ;
}
.profilecard .media_button{
    display: flex;
    flex-direction: row;
    padding: 3px;
    margin-top: 8px;

}
.media_button .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 8px;
    width: 34px;
    height: 34px;
    font-size: 18px;
    color: rgb(233, 233, 236);
    background-color: blue;
    padding:3px;
    text-decoration: none;
    border-radius: 50%;

}
.profilecard .buttons{
    display: flex;
    align-items: center;
    margin: 25px;
    
    }

.buttons .button{
   font-size: 14px;
   font-weight: 400;
    margin: 0 10px;
    padding: 8px 24px;
    background-color:#4070f4;
    color: #fff;
    border-radius: 25px;
    cursor: pointer;
    border: none;
} 

.buttons .button:hover{
    background-color: #0e4bf1;
}
.data span{
    margin: 3px;
}